## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [2]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [3]:
# View the column names in the data
df.columns

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [4]:
# Use the describe function to gather some basic statistics
df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [5]:
# Use this space to do any additional research
# and familiarize yourself with the data.
orderinayear = df["order_year"].value_counts().sort_index()
#orderinayear
grouped_counts_df = df[["order_year","category","subcategory"]].value_counts().reset_index(name='order_count')
grouped_counts_df

    order_year     category         subcategory  order_count
0         2023  consumables   bathroom supplies         6375
1         2023  consumables      paper products         5831
2         2023  consumables    kitchen supplies         5706
3         2023    furniture              tables         4505
4         2023    furniture              stands         4173
5         2023     software          accounting         3736
6         2023     software  project management         3498
7         2023        decor              plants         3447
8         2023        decor            wall art         3076
9         2023  consumables                misc         2870
10        2023    furniture             seating         2646
11        2023  consumables                pens         2584
12        2023        decor                misc         1380
13        2023     software           logistics         1105
14        2023  electronics             telecom          972
15        2023  electronics        audio visual          730
16        2023  electronics             cabling          653
17        2023    furniture               desks          507
18        2023  electronics           computers          466
19        2022  consumables   bathroom supplies           49
20        2022  consumables      paper products           43
21        2022  consumables    kitchen supplies           40
22        2022    furniture              tables           35
23        2022    furniture              stands           28
24        2022     software  project management           24
25        2022  consumables                misc           21
26        2022     software          accounting           20
27        2022        decor              plants           19
28        2022  consumables                pens           19
29        2022    furniture             seating           18
30        2022        decor            wall art           17
31        2022     software           logistics           17
32        2022        decor                misc           15
33        2022  electronics             telecom            6
34        2022    furniture               desks            3
35        2022  electronics        audio visual            2
36        2022  electronics             cabling            2
37        2022  electronics           computers            1

In [6]:
# What three item categories had the most entries?
grouped_categories_df = df[["category"]].value_counts().reset_index(name='order_count')
grouped_categories_df
df_consumables = df[df["category"]=="consumables"]
df_consumables

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1
6,Brian,Moore,Barista,+1-893-400-2733x982,moore.official@martinez.com,87213,8080280,2023-04-19,16,2023,UAC50632-25-4E,consumables,kitchen supplies,245.56,231.95,1.73,56,5
7,Jesus,Wright,Theme park manager,605.947.9467x66513,wright.jesus.7579@meadows.com,46709,8946782,2023-02-14,7,2023,UEU25316-01-1U,consumables,pens,20.99,16.97,5.12,22,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54629,Linda,Henderson,"Scientist, research (physical sciences)",+1-664-405-4100x443,lhenderson@boyer-krueger.com,79817,6473704,2023-03-16,11,2023,ZCC45621-74-4A,consumables,kitchen supplies,72.60,52.42,0.33,153,1
54632,Austin,Fuller,Investment analyst,379.662.7549,fulleraustin7494@nunez.com,50317,5064968,2023-05-26,21,2023,CUE68543-95-3U,consumables,paper products,557.31,409.72,2.21,330,1
54633,Tamara,Jones,Fish farm manager,375.495.3124x931,tamara.jones.9326@george-carter.com,22109,8568920,2023-04-26,17,2023,CDX06274-12-1E,consumables,kitchen supplies,8.16,5.10,3.84,41,2
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6

In [7]:
# For the category with the most entries, which subcategory had the most entries?
grouped_subcategories_df = df_consumables[["subcategory"]].value_counts().reset_index(name='order_count')
grouped_subcategories_df

         subcategory  order_count
0  bathroom supplies         6424
1     paper products         5874
2   kitchen supplies         5746
3               misc         2891
4               pens         2603

In [8]:
# Which five clients had the most entries in the data?
df_mostclientids = df["client_id"].value_counts().reset_index(name='clientid counts')
df_mostclientids.head(5)

   client_id  clientid counts
0      33615              220
1      66037              211
2      46820              209
3      38378              207
4      24741              207

In [9]:
# Store the client ids of those top 5 clients in a list.
top5clientids = df_mostclientids["client_id"].head(5).tolist()

top5clientids

[33615, 66037, 46820, 38378, 24741]

In [10]:
# How many total units (the qty column) did the client with the most entries order order?
df_mostqtyofaclient = df[df["client_id"] == 33615]
totalunits = df_mostqtyofaclient["qty"].sum()
print(f"Total units for client 33615 = {totalunits}")

Total units for client 33615 = 64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [11]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty
df['subtotal']=df["qty"] * df["unit_price"]
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8,2743.29
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0,165.76
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5,3103.31

In [12]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.

df["shippingprice"] = df["unit_weight"] * df["qty"].apply(lambda w: w * 7 if w > 50 else w * 10 )
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal,shippingprice
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,5512.50
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95,312.90
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28,655.20
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18,356.70
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00,9286.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8,2743.29,742.50
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,5499.00
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,13832.00
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0,165.76,14143.36
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5,3103.31,14939.19

In [13]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
df["totalprice"]=( (df["subtotal"] + df["shippingprice"]) * ( 1 + 0.0925))
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal,shippingprice,totalprice
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,5512.50,131839.076250
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,consumables,pens,24.95,15.09,1.49,21,0,523.95,312.90,914.258625
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,software,project management,13.52,7.86,1.68,39,6,527.28,655.20,1291.859400
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,consumables,pens,36.42,24.85,1.23,29,3,1056.18,356.70,1543.571400
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,consumables,misc,195.10,108.17,46.43,20,1,3902.00,9286.00,14407.890000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,software,logistics,83.13,51.60,2.25,33,8,2743.29,742.50,3808.225575
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,5499.00,16615.537525
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,13832.00,49184.896250
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,furniture,stands,1.48,1.22,18.04,112,0,165.76,14143.36,15632.713600
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,software,project management,3.01,1.61,2.07,1031,5,3103.31,14939.19,19711.431250

In [14]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).

df["totalcost"]=((df["unit_cost"] * df["qty"]) + df["shippingprice"]) 
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal,shippingprice,totalprice,totalcost
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,wall art,1096.80,762.71,7.50,105,1,115164.00,5512.50,131839.076250,85597.05
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,pens,24.95,15.09,1.49,21,0,523.95,312.90,914.258625,629.79
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,project management,13.52,7.86,1.68,39,6,527.28,655.20,1291.859400,961.74
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,pens,36.42,24.85,1.23,29,3,1056.18,356.70,1543.571400,1077.35
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,misc,195.10,108.17,46.43,20,1,3902.00,9286.00,14407.890000,11449.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,logistics,83.13,51.60,2.25,33,8,2743.29,742.50,3808.225575,2445.30
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,5499.00,16615.537525,13745.62
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,13832.00,49184.896250,41054.25
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,stands,1.48,1.22,18.04,112,0,165.76,14143.36,15632.713600,14280.00
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,project management,3.01,1.61,2.07,1031,5,3103.31,14939.19,19711.431250,16599.10

In [15]:
# Create a column for the profit of each line using line cost and line price
df["profit"] = df["totalprice"] - df["totalcost"]
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_price,unit_cost,unit_weight,qty,line_number,subtotal,shippingprice,totalprice,totalcost,profit
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,1096.80,762.71,7.50,105,1,115164.00,5512.50,131839.076250,85597.05,46242.026250
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,24.95,15.09,1.49,21,0,523.95,312.90,914.258625,629.79,284.468625
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,13.52,7.86,1.68,39,6,527.28,655.20,1291.859400,961.74,330.119400
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,36.42,24.85,1.23,29,3,1056.18,356.70,1543.571400,1077.35,466.221400
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,195.10,108.17,46.43,20,1,3902.00,9286.00,14407.890000,11449.40,2958.490000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,83.13,51.60,2.25,33,8,2743.29,742.50,3808.225575,2445.30,1362.925575
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,206.59,175.46,11.70,47,0,9709.73,5499.00,16615.537525,13745.62,2869.917525
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,65.66,57.31,4.16,475,6,31188.50,13832.00,49184.896250,41054.25,8130.646250
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,1.48,1.22,18.04,112,0,165.76,14143.36,15632.713600,14280.00,1352.713600
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,3.01,1.61,2.07,1031,5,3103.31,14939.19,19711.431250,16599.10,3112.331250

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [23]:
# Check your work using the totals above
orderids = [2742071,2173913,6128929]

df_filtered = df[df["order_id"].isin(orderids)]
df_filtered = df_filtered.groupby("order_id")['totalprice'].sum().reset_index()
df_filtered

   order_id     totalprice
0   2173913  163237.067400
1   2742071  153250.295475
2   6128929  925642.409450

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [17]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.
df_topclient = df.groupby("client_id")["qty"].sum().reset_index()
df_topclient.sort_values("qty",ascending=False).head(5)

     client_id      qty
758      78965  4033302
850      86721  1010426
204      30143   846069
840      85931   644423
738      77354   506382

In [18]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit. 
df_topclientsummary = df.groupby("client_id").agg(TotalUnitsPurchased = ("qty","sum"),TotalShippingPrice = ("shippingprice","sum"),TotalRevenue=("totalprice","sum"),TotalProfit=("profit","sum"))
df_topclientsummary = df_topclientsummary.sort_values("TotalUnitsPurchased",ascending=False).head(5)
df_topclientsummary

           TotalUnitsPurchased  TotalShippingPrice  TotalRevenue   TotalProfit
client_id
78965                  4033302          5367430.18  6.559528e+08  2.473553e+08
86721                  1010426         64351677.97  1.812837e+08  4.297617e+07
30143                   846069          8986402.93  3.333376e+07  1.125080e+07
85931                   644423         10133767.99  2.374293e+08  1.092952e+08
77354                   506382         23822698.47  7.195141e+07  1.243300e+07

In [19]:
# Format the data and rename the columns to names suitable for presentation.
from decimal import Decimal 

# Define the money columns. 
df_topclientsummary["TotalShippingPrice"] = df_topclientsummary["TotalShippingPrice"].apply(lambda x: Decimal(x)).map('${:,.2f}'.format)
#df_topclientsummary["TotalRevenue"] = df_topclientsummary["TotalRevenue"].apply(lambda x: Decimal(x)).map('${:,.2f}'.format)
#df_topclientsummary["TotalProfit"] = df_topclientsummary["TotalProfit"].apply(lambda x: Decimal(x)).map('${:,.2f}'.format)
#df_topclientsummary

def dollartomillions(amount):
    millions = (amount) / 100000
    return f"${millions:,.2f}M"
    

# Define a function that converts a dollar amount to millions.

# Apply the currency_format_millions function to only the money columns. 
df_topclientsummary["TotalRevenueInMillions"]=df_topclientsummary["TotalRevenue"].apply(lambda x: dollartomillions(x))
df_topclientsummary["TotalProfitInMillions"]=df_topclientsummary["TotalProfit"].apply(lambda x: dollartomillions(x))
df_topclientsummary["TotalRevenue"] = df_topclientsummary["TotalRevenue"].apply(lambda x: Decimal(x)).map('${:,.2f}'.format)
df_topclientsummary["TotalProfit"] = df_topclientsummary["TotalProfit"].apply(lambda x: Decimal(x)).map('${:,.2f}'.format)



# Rename the columns to reflect the change in the money format. 
df_topclientsummary.rename(columns = {'client_id': 'Client ID','TotalUnitsPurchased': 'Total Units Purchased','TotalShippingPrice':'Total Shipping Price','TotalRevenue':'Total Revenue','TotalProfit': 'Total Profit','TotalRevenueInMillions': 'Total Revenue (millions)','TotalProfitInMillions': 'Total Profit (millions)'},inplace=True)
df_topclientsummary

,Total Units Purchased,Total Shipping Price,Total Revenue,Total Profit,Total Revenue (millions),Total Profit (millions)
client_id,,,,,,
78965,4033302,"$5,367,430.18","$655,952,810.64","$247,355,309.75","$6,559.53M","$2,473.55M"
86721,1010426,"$64,351,677.97","$181,283,722.72","$42,976,170.89","$1,812.84M",$429.76M
30143,846069,"$8,986,402.93","$33,333,763.56","$11,250,801.93",$333.34M,$112.51M
85931,644423,"$10,133,767.99","$237,429,257.96","$109,295,166.56","$2,374.29M","$1,092.95M"
77354,506382,"$23,822,698.47","$71,951,405.56","$12,433,001.28",$719.51M,$124.33M

In [20]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.
df_topclientsummary["Total Profit (millions)"] = df_topclientsummary["Total Profit (millions)"].replace({'\$':'',',':'','M':''},regex=True).astype(float)
#df_topclientsummary
new_df = df_topclientsummary.sort_values("Total Profit (millions)",ascending=False)
new_df["Total Profit (millions)"]= new_df["Total Profit (millions)"].map('${:,.2f}M'.format)
new_df

<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
C:\Users\sowmy\AppData\Local\Temp\ipykernel_41708\1023246125.py:2: SyntaxWarning: invalid escape sequence '\$'
  df_topclientsummary["Total Profit (millions)"] = df_topclientsummary["Total Profit (millions)"].replace({'\$':'',',':'','M':''},regex=True).astype(float)

,Total Units Purchased,Total Shipping Price,Total Revenue,Total Profit,Total Revenue (millions),Total Profit (millions)
client_id,,,,,,
78965,4033302,"$5,367,430.18","$655,952,810.64","$247,355,309.75","$6,559.53M","$2,473.55M"
85931,644423,"$10,133,767.99","$237,429,257.96","$109,295,166.56","$2,374.29M","$1,092.95M"
86721,1010426,"$64,351,677.97","$181,283,722.72","$42,976,170.89","$1,812.84M",$429.76M
77354,506382,"$23,822,698.47","$71,951,405.56","$12,433,001.28",$719.51M,$124.33M
30143,846069,"$8,986,402.93","$33,333,763.56","$11,250,801.93",$333.34M,$112.51M

In [21]:
'''Summary 
ClientID - 78965 made the highest profit of approx $2,470M with total revenue of $6500M
ClientID - 85931 made the second profit of approx $1080M with total revenue of $2270M. The total units purchased is far less than the client id with the highest profit
'''

'Summary \nClientID - 78965 made the highest profit of approx $2,470M with total revenue of $6500M\nClientID - 85931 made the second profit of approx $1080M with total revenue of $2270M. The total units purchased is far less than the client id with the highest profit\n'